.weather {
  position: fixed;
  display: flex;
  align-items: flex-end;
  margin: 0rem 3rem;
  border: 0.125rem solid var(--chatLine);
  border-radius: 1.25rem;
  padding: 0.6rem 5rem;
  width: 30%;
}
.weather1 {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8.85rem 3rem;
  border: 0.125rem solid var(--chatLine);
  border-radius: 1.25rem;
  padding: 1rem 5rem;
  width: 30%;
}
.weather1 label {
    font-size: 1.25rem;
    margin: 0.5rem;
}
@media (min-width: 480px) and (max-width: 1500px) {
    .weather1{
        display:none
    }    
    .weather {
        display: none
    }
}

